body {
    background-color: #eeeeee;
    font-family: "Arial";
    transition-duration: 0.4s;
}

a {
    text-decoration: none;
    color: inherit;
}

input[type=text] {
    width: 90%;
    flood-color: #c0ffee;
    border: 1px solid #4D636F;
    border-radius: 4px;
    margin: 10px;
    font-size: 14px;
    padding: 8px;
}

table {
    font-size: 14px;
    table-layout: fixed;
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.05);
}

tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.07);
}

table, tr, td, th {
    padding: 6px 6px 6px 6px;
    color: #4D636F;
    border-collapse: collapse;
    text-align: left;
}

.title {
    display:inline;
}

.header {
    padding: 20px;
    margin: auto;
}

.search {
    display: inline;
    float: right;
    padding-right: 10px;
    background-color: #ffffff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

.sidebar {
    position: absolute;
    width: 20%;
    height: 100%;
    padding: 10px;
}

.sidebar-group {
    display: block;
    width: 250px;
    padding: 8px;
    margin: 10px;
}

.sidebar-title {
    margin-left: 10px;
    color: #4D636F;
}

.sidebar .toplink {
    display: block;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    background-color: #678595;
    border-radius: 4px;
    margin: 10px;
    width: 80%;
}

.sidebar .toplink:hover {
    background-color: #435762;
}

.shadow {
    -webkit-filter: drop-shadow( 2px 2px 8px rgba(0, 0, 0, .2));
    filter: drop-shadow( 2px 2px 8px rgba(0, 0, 0, .2));
    /* Similar syntax to box-shadow */
}

.card-wrapper {
    margin: auto;
    margin-left: 260px;
    padding: 20px;
    width: stretch;
}

.card {
    padding: 12px;
    margin: 10px auto;
    border-radius: 6px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .2);
    height: auto;
    width: 80%;
    font-size: 16px;
    color: #000000;
}

.owner-name {
    cursor: pointer;
    color: #29353C;
}

.coat-indicators {
    cursor: pointer;
    float: right;
    right: 10px;
}

.coat-wrapper {
    height: fit-content;
    overflow: hidden;
    margin-top: 5px;
}

.coat-item {
    cursor: pointer;
    margin: auto;
    padding: 6px;
    color: #29353C;
}

.coat-id {
    margin: auto;
    color: #4D636F;
}

.coat-id-received {
    color: #29353C;
    font-weight: bold;
}

.coat-id-in {
    display: inline;
    color: #435762;
}

.coat-id-out {
    color: #678595;
}

.coat-id-missing {
    display: inline;
    color: #DF3528;
    font-weight: bold;
}

.coat-id-unknown {
    display: inline;
    color: #F44337;
}

.coat-history {
    max-height: 0px;
    overflow: hidden;
}

.date {
    margin-left: 38px;
}

.circle {
    display: inline;
    float: left;
    margin-right: 8px;
    border-radius: 50px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
}

.circle-in {
    height: 16px;
    width: 16px;
    background-color: #8DC34C;
}

.circle-out {
    height: 10px;
    width: 10px;
    border: 3px solid #8DC34C;
}

.circle-missing {
    height: 10px;
    width: 10px;
    border: 3px solid #F44337;
}

.circle-unknown {
    height: 16px;
    width: 16px;
    background-color: #F44337;
}


