{% extends "fishers/base.html" %}

{% block content %}
        {% for d in deliveries %}
        <div class="card" id="{{o.name}}">
            <div class="owner-name" onclick="expand('{{d.0.0}}',0)"> 
                Week {{ d.0.0 }} - {{d.0.5}} 
            </div>
            <div class="coat-wrapper" id="{{d.0.0}}">
                <table>
                    <thead>
                        <tr>
                            <th>Coat</th>
                            <th>Name</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    {% for i in d %}
                        <tr>
                            <td class="coat-id coat-id-{{i.2}}">
                                {{ i.1 }}
                            </td>
                            <td>
                                {{ i.3 }}
                            </td>
                            <td>
                                {{ i.4 }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        {% endfor %}
{% endblock %}