{% extends "fishers/base.html" %}

{% block sidebar %}
{{ block.super }}
        {% if debug == "1" %}
            <div class="sidebar-group">
                <div class="sidebar-title">Debug</div>
                <a class="toplink shadow" href="/deli/ver/ies">404 Page</a>
                <a class="toplink shadow" href="/svg">SVG</a>
            </div>
        {% endif %}
{% endblock sidebar %}

{% block content %}
        {% for d in deliveries %}
        <div id="{{o.name}}" class="card">
            <div class="card-title">
                <span id="mi-{{d.0.0}}" class="material-icons md-36">expand_more</span>
                <span class="owner-name" onclick="expand('{{d.0.0}}')"> 
                    Week {{ d.0.0 }} - {{d.0.5}} 
                </span>
            </div>
            <div class="coat-history" style="{{d.0.6}}" id="{{d.0.0}}">
                <table>
                    <thead>
                        <tr>
                            <th>Coat</th>
                            <th>Name</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    {% for i in d %}
                        <tr style="{{i.7}}">
                            <td class="coat-id coat-id-{{i.4}}">
                                <a href="/s/{{i.1}}">{{ i.1 }}</a>
                            </td>
                            <td>
                                <a href="/s/{{i.3}}">{{ i.3 }}</a>
                            </td>
                            <td>
                                {{ i.4 }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <br/>
            </div>
        </div>
        {% endfor %}
{% endblock %}