{% extends "fishers/base.html" %}

{% block sidebar %}
{{ block.super }}
        <div class="sidebar-group">
            <div class="sidebar-title">Debug</div>
            <a class="toplink shadow" href="/deliries/last">404</a>
        </div>
{% endblock sidebar %}

{% block content %}
        {% for o in owner %}
        <div class="card">
            <div class="coat-indicators">
                {% for c in o.coat %}
                <div class="circle circle-{{ c.status }}" onclick="expand('{{c.id}}')"></div>
                {% endfor %}
            </div>
            <div class="owner-name"> {{ o.name }} </div>
            <div class="coat-wrapper" id="{{o.id}}">
            {% for c in o.coat %}
                {% if c.status == status %}
                    <div class="coat-item" onclick="expand('{{c.id}}')">
                        <div class="coat-id coat-id-{{ c.status }}">{{ c.id }}</div>
                        <div class="coat-history" id="{{c.id}}">
                             {{ c.history|safe }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
        {% endfor %}
{% endblock %}